* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  display: block;
  color: white;
  text-decoration: none;
}
button {
  border: none;
}
body {
  width: 100%;
  /* height: auto; */
  background-color: #1a1a2e;
  color: white;
}
.container {
  display: flex;
  width: 100%;
  max-width: 360px;
  /* padding: 0 15px; */
  margin: 0 auto;
}

.outer {
  display: block;
}
.outer .inner {
  display: block;
  width: 360px;
  margin: 0 auto;
  margin-top: 70px;
}
/* header */
header {
  position: fixed;
  background: transparent;
  backdrop-filter: blur(
    10px
  ); /* Blur effect for the background behind the header */
  color: white;
  width: 360px;
  left: 50%;
  /* right: 50%; */
  transform: translate(-50%, 0);
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  border-bottom: 1px solid white;
  z-index: 50;
}

.nav-arrow,
.info-icon {
  font-size: 24px;
  cursor: pointer;
  background: transparent;
}

.header-title {
  /* font-size: 24px; */
  font-weight: bold;
  text-transform: uppercase;
}
/* end header */
.item-outer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
